<div class="container-fluid text-center cookie">
    <span>
        {{ config.popup_message.value | raw |replace({"<p>" : '', "</p>" : ""}) | raw }}
        <a type="button" class="btn btn-default accept-eucl" href="#" title="J'accepte les cookies">{{ config.accept_button_title }}</a>
        <a href="{{ config.more_infos_link }}" title="{{ config.more_infos_title }}">{{ config.more_infos_title }}</a>
    </span>
</div>